    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    img {
        filter: contrast(70%);
        border: 5px solid #800080;
        border-radius: 50px;
        padding: 4px;
    }
    
    footer {
        text-align: center;
        font-weight: bold;
    }
    
    table,
    th,
    td {
        border: 2px solid purple;
        width: (100%);
        border-spacing: 10px;
        text-align: center;
        border-collapse: separate;
    }
    
    th {
        background-color: rgb(253, 162, 234);
    }
    
    .container {
        position: relative;
        text-align: center;
        color: rgb(255, 226, 206)
    }
    
    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 350px;
    }
    
    .menu {
        color: rgb(255, 180, 180);
        font: bold 12px/18px sans-serif;
        text-align: center;
        display: inline;
        margin: 0% auto;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
    
    .menu li {
        color: rgb(95, 95, 95);
        background-color: rgb(140, 255, 125);
        display: inline-block;
        margin: 0% auto;
        padding: 15px 4%;
        border: 3px solid #7daef8;
        box-shadow: 2px 2px 10px 0 rgba(255, 79, 226, 0.5);
        border-radius: 6px;
        cursor: pointer;
        transition-property: background;
        transition-duration: .4s;
        transition-delay: 0s;
        transition-timing-function: ease-in-out;
    }
    
    .menu li:hover {
        color: rgb(54, 35, 0);
        background-color: rgba(87, 79, 134, 0.3);
    }
    
    .column {
        float: left;
        width: 50%;
    }